################################################################################
# OS files
################################################################################
.vscode/*.db
.vscode/*.db-shm
.vscode/*.db-wal
*.opendb

################################################################################
# New folder tutorial
################################################################################
TestRos2Control/