################################################################################
# ROS2 build artifacts
################################################################################
build/
install/
log/

################################################################################
# OS files
################################################################################
src/.vscode/*.db
src/control_robot_tutorial/.vscode/*.db
src/control_robot_tutorial/control_robot_tutorial/.vscode/*.db
.vscode/*.db
.vscode/*.db-shm
.vscode/*.db-wal
*.opendb

################################################################################
# Gazebo world config
################################################################################
src/control_robot_tutorial/config/gazebo_world/