################################################################################
# ROS2 build artifacts
################################################################################
build/
install/
log/

################################################################################
# OS files
################################################################################
# src/.vscode/browse.vc.db
src/.vscode/*.db
.vscode/*.db
.vscode/*.db-shm
.vscode/*.db-wal
*.opendb

################################################################################
# Spare files
################################################################################
src/diff_drive_3_legs/test/Spare_odometry.py