################################################################################
# ROS2 build artifacts
################################################################################
build/
install/
log/

################################################################################
# OS files
################################################################################
# src/.vscode/browse.vc.db
src/.vscode/*.db
.vscode/*.db
.vscode/*.db-shm
.vscode/*.db-wal
*.opendb